html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.general{
  height: 100vh;
}

.daytime{
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-image: url("/images/dayBackground.png");
}

.nighttime{
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-image: url("/images/nightBackground.png");
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #5d5c715a ;
  padding: 1% 2%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 10%;
}

header.mobile {
  position:fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #5d5c715a ;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 10%;
  width: 100%;
}

header .webName.day h1{
  color: #484848;
  font-family: "McLaren", cursive;
  font-size: 55px; 
  font-weight: bold;
  text-shadow: 2px 2px 4px #4682b4, -2px -2px 4px #4682b4, 2px -2px 4px #4682b4, -2px 2px 4px #4682b4;
}

header .webName.night h1{
  color: rgb(163, 221, 253);
  font-family: "McLaren", cursive;
  font-size: 55px; 
  font-weight: bold;
  text-shadow: 2px 2px 4px #4682b4, -2px -2px 4px #4682b4, 2px -2px 4px #4682b4, -2px 2px 4px #4682b4;
}

header .local.night p{
  color: #f7f7f7;
  font-family: "McLaren", cursive;
  font-size: 150%;
  font-weight: bold;
}

header .local.day p{
  color: #484848;
  font-family: "McLaren", cursive;
  font-size: 150%;
  font-weight: bold;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  width: 10vh;
}

.logo.mobile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80%;
  width: 80%;
}

.days{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 84%;
  justify-content:space-evenly;
}

.days.mobile{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;  
  height: 100%;
  justify-content:space-evenly;
}

.container-today{
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  border-radius: 20px;
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(104, 171, 209, 0.432) 45%, rgba(247, 196, 86, 0.463) 100%);
  box-shadow: rgb(85, 105, 126) 0px 20px 30px -10px;
}

.container-today.mobile{
  width: 90%;
  height: 60%;
  margin-top: 30%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  border-radius: 20px;
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(104, 171, 209, 0.432) 45%, rgba(247, 196, 86, 0.463) 100%);
  box-shadow: rgb(85, 105, 126) 0px 20px 30px -10px;
}

.inner-left-day-container{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  font-family: 'Arial', sans-serif; 
  font-size: 55px; 
  font-weight: bold;
  text-align: center; 
  text-shadow: 2px 2px 4px #4682b4, -2px -2px 4px #4682b4, 2px -2px 4px #4682b4, -2px 2px 4px #4682b4;
}

.inner-center-day-container{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}

.inner-right-day-container{
  width: 30%;
  height: 90%;
  margin-right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #4682b4;
  border-radius: 20px;
}

.container-next-days{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60%;
}

.container-next-days.mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90%;
  height: 100%;
}

.next-days{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(104, 171, 209, 0.432) 45%, rgba(247, 196, 86, 0.463) 100%);
  box-shadow: rgb(85, 105, 126) 0px 20px 30px -10px;
  margin: 0% 2%;
}

.next-days.mobile{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(104, 171, 209, 0.432) 45%, rgba(247, 196, 86, 0.463) 100%);
  box-shadow: rgb(85, 105, 126) 0px 20px 30px -10px;
  margin: 2%;
}

.next-days p{
  font-size: 170%;
  font-weight: bold;
}

.next-days.mobile p{
  font-size: 150%;
  font-weight: bold;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 4%;
}

footer p {
  color: #236bb3;
}

